{% extends 'base.html' %}
{% block title %}{{ user.username }}的粉丝{% endblock %}

{% block  content %}
<div class="container">
    <div class="card">
        <div class="list-group list-group-flush">
            {% for u in followers %}
            <li class="list-group-item">
                <div class="user-icon">
                    <img src="{{ u.followers.icon }}" alt="用户头像">
                    &nbsp;
                    <a href="{{ url_for('people.profile', id=u.followers.id) }}">{{ u.followers.username }}</a>&nbsp;
                    <q class="text-md-right">
                        {{ u.followers.about_me }}
                    </q>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}