.panel {
    padding: 10px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background: #e1e1e1
}

@media (min-width: 1200px) {
    .container{
        max-width: 1440px;
    }
}

.card {
    margin-bottom: 10px;
}

.user-icon img {
    height: 48px;
    width: 48px;
}

#sidebar {
  width: 290px;
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 10%;
}