{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form_row %}
{% import "_macros.html" as macros %}

{% block title %} Hello!Project SNS图片库 {% endblock %}

{% block styles %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="../../static/css/ta_phtolst.css">
<link type="text/css" rel="stylesheet" href="../../static/css/common.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="form">
            {{ render_form_row([form.group, form.member, form.start_time, form.end_time])}}
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-success btn-sm float-right" id="button">确认</button>
                </div>
            </div>
        </div>
        <div class="cp-form">
            {{ render_form_row([cpform.member1, cpform.member2, cpform.start_time, cpform.end_time])}}
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-success btn-sm float-right" id="cp">确认</button>
                </div>
            </div>
        </div>
        <div class="m_photo_list_a" node-type="photo-list">
            <ul class="photoList clearfix">
                {% for image in images %}
                <li>
                    <dl class="m_photoItem m_photoItem_a phtItem_hv">
                        <dt class="photo face">
                            <a href="{{ image['url'] }}" target="'_blank">
                                <img src="{{ image['url'] }}">
                            </a>
                        </dt>
                    </dl>
                </li>
                {% endfor %}
            </ul>
        </div>
    {{ macros.pagination_widget_cp(pagination, endpoint, member1=search['member1'], member2=search['member2'], start_time=search['start_time'], end_time=search['end_time']) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../../static/js/face.js"></script>
{% endblock %}