{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}{{ current_user.username }}{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">
                更新Cookies
            </div>
            <div class="card-body">
                {{ render_form(cookie_form, action='/face/update_cookie', method='post')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}