{% extends 'base.html' %}

{% block title %}Hello Family{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-primary">全部帖子</button>
                </div>
            </div>
            <br>
            <div id="id-topic-list">
            <div class="card">
                <ul class="list-group list-group-flush">
                {% for topic in topics %}
                    <li class="list-group-item"><a href="{{ url_for('topic.detail', id=topic.id) }}">{{ topic.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
