{% extends 'base.html' %}

{% block title %}Hello Family{% endblock %}

{% block content %}
    <br>
<div class="row">
    <div class="col-8">
        <div class="container">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary">全部帖子</button>
            </div>
            <br><br>
            <div id="id-topic-list">
            {% for topic in topics %}
                <div class="card">
                    <div class="card-body">
                        <a class="topic-title" href="{{ url_for('topic.detail', id=topic.id) }}">
                            {{ topic.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
        <a href="/topic/add">
            <button type="button" class="btn btn-success center" href="/topic/add">添加话题</button>
        </a>
    </div>
</div>
{% endblock %}
