{% extends 'base.html' %}

{% block title %}Hello Family {{ current_user.username }} {% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">最近话题</div>
            <div class="list-group list-group-flush">
                {% for topic in topics %}
                    <li class="list-group-item">
                        <a href="{{ url_for('topic.detail', id=topic.id) }}">
                            {{ topic.title }}
                        </a>
                    </li>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">最近评论</div>
            <div class="list-group list-group-flush">
                {% for topic in commented_topics %}
                    <li class="list-group-item">
                        <a href="{{ url_for('topic.detail', id=topic.id) }}">
                            {{ topic.title }}
                        </a>
                    </li>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card">
                <div class="card-header">收到评论</div>
                <div class="list-group list-group-flush">
                    {% for comment in replied_comments %}
                        <li class="list-group-item">
                            <a href="{{ url_for('topic.detail', id=comment.topic_id) }}">
                                {{ comment.body }}
                            </a>
                        </li>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock %}