<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/helloproject.ico">
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link type="text/css" rel="stylesheet" href="/static/css/hellofamily.css">
    {% endblock styles %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="/topic">Hello Family</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            {% block navbar %}
            <li class="nav-item active">
                <a class="nav-link" href="/topic">论坛</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">注销</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">登录</a>
                </li>
             {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/user/register">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/setting">个人信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topic/profile">最近活动</a>
            </li>
            {% endblock navbar %}
        </ul>
    </div>
</nav>
{% endblock %}

<br>
<div class="container">
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
    </div>
{% endfor %}
{% block sidebar %}
<div id="sidebar">
        <div class="card">
            <div class="card-header">用户信息</div>
            <div class="card-body">
                <div class="user-icon">
                    {% if current_user.is_authenticated %}
                        <img src="{{ current_user.icon }}">
                    {% else %}
                        <img src="/static/images/helloproject.ico">
                    {% endif %}
                </div>
                <p class="card-text">
                    {{ current_user.about_me }}
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="/topic/add">
                <button type="button" class="btn btn-success" href="/topic/add">添加话题</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock content %}
</div>
{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock scripts %}
</body>
</html>